// adjusted from https://gist.github.com/koenpunt/6424137 (so that chosen works with bootstrap 3)

select.form-control + .chosen-container {
  margin-bottom:$oeVerticalMargin;

  ul {
    left:0;
  }
}

select.form-control + .chosen-container.chosen-container-single .chosen-single {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 18px;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: inherit;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid $input-border;
    background-image:none;
}

select.form-control + .chosen-container.chosen-container-single .chosen-single div {
    top:4px;
    color:#000;
}

select.form-control + .chosen-container .chosen-drop {
    background-color: #FFF;
    border: 1px solid $input-border;
    background-clip: padding-box;
    margin: 2px 0 0;

}

select.form-control + .chosen-container .chosen-search input[type=text] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 18px;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: inherit;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid $input-border;
    background-image:none;
}

select.form-control + .chosen-container .chosen-results {
    margin: 2px 0 0;
    padding: 5px 0;
    font-size: $font-size-base;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}

select.form-control + .chosen-container .chosen-results li ,
select.form-control + .chosen-container .chosen-results li.active-result {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    color: inherit;
    white-space: nowrap;
    background-image:none;
}
select.form-control + .chosen-container .chosen-results li:hover,
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted
{
    color: #FFF;
    text-decoration: none;
    background-color: $gray-dark;
    background-image:none;
}

select.form-control + .chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    height: $input-height-base;
    padding: 6px 40px 6px 18px;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: inherit;
    vertical-align: middle;
    border: 1px solid $input-border;
    background:#fff url(../images/arrows.png) right -56px no-repeat;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height:auto;
    padding:5px 0;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-field input.default {
    color: $input-color-placeholder;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice {

    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: $font-size-base;
    font-weight: normal;
    line-height: $line-height-base;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid $input-border;
    color: inherit;
    background-color: #FFF;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top:8px;
    right:6px;
}

select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus{
    border-color: $input-border;
}

select.form-control + .chosen-container-multi .chosen-results li.result-selected{
    display: list-item;
    color: inherit;
    cursor: default;
    background-color: #fff;
}


