// Node
// Styles for Events and Projects
// --------------------------------------------------

.view-openethical-events .tags,
.view-openethical-projects .tags {
  margin-top:-18px;
}

.view-openethical-events p.link,
.view-openethical-projects p.link {
  margin-top:-18px;
}

#event-page p.date,
#project-page p.date {
  margin-top:-15px;
}

.view-openethical-events .panels-ipe-portlet-content .tags,
.view-openethical-events .panels-ipe-portlet-content p.link,
#event-page .panels-ipe-portlet-content p.author,
#event-page .panels-ipe-portlet-content p.date,
.view-openethical-projects .panels-ipe-portlet-content .tags,
.view-openethical-projects .panels-ipe-portlet-content p.link,
#project-page .panels-ipe-portlet-content p.date{
  margin-top:0;
}
