// Menu
// Styles for Menus and Navs
// --------------------------------------------------

ul.menu,
ul.nav{
    position:static;
    left:0;
    list-style: none;
    li {
        list-style: none;
    }
}

#header nav {
  .navbar-toggle {
      background:none;
      border:none;
      box-shadow: none;
      float: right;
      margin-left: 5px;
      margin-right: $oeSmallColPadding;
      text-shadow: none;
  }

  //burger
  .navbar-toggle {
    .icon-bar {
        background-color: $gray-dark;
        border-radius: 2px 2px 2px 2px;
        box-shadow: none;
        display: block;
        height: 4px;
        width: 20px;
    }

    .icon-bar:first-child,
    .icon-bar:last-child{
        width: 18px;
        margin-left:1px;
    }

    &:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
        background:none;
        color: inherit;
    }
  }

  //head main menu
  #main-menu {
    padding-top:20px;

    @media (min-width: 992px){
      clear:right;
      float:right;
      margin-top:0;
      padding-bottom:20px;

      > li.last > a {
        padding-right:0;
      }
    }
  }

  .nav {
    padding-right:0;

    > li > a {
      padding-left:11px;
      padding-right:11px;

      &:focus,
      &:hover {
        background:none;
      }
    }
  }
}

body ul#main-menu li a.active-trail,
body ul#main-menu li a.active,
body ul#main-menu li a:focus,
body ul#main-menu li a:hover,
body a.active,
body a.active-trail {
  box-shadow:none;
  background:none;
  text-decoration:underline;
}

//tabs - view, edit etc
.nav-tabs {
  border-bottom:1px solid $hr-border;

  @media (max-width: 767px){
    margin-left:$oeSmallColMargin;
    margin-right:$oeSmallColMargin;
    padding-left:$oeSmallColPadding;
    padding-right:$oeSmallColPadding;
  }

  > li {
      margin-bottom: 0;
  }

  > li:first-child a {
      padding-left:0;
  }

  > .active > a, > .active > a:hover, > .active > a:focus {
    color:$text-color;
    border:none;
    background:none;
  }
}

//I don't think this is used at the moment
ul.tertiary-menu {
  margin-left:$oeSmallColPadding;
  margin-right:$oeSmallColPadding;

  @media (min-width: 481px){
    width:auto;
    margin-right:0;
    float:right;
    white-space:nowrap;
  }

  li {
    @include inline-block;
    vertical-align:top;
    width:45%;
    padding-right:1%;

    @media (min-width: 481px){
      width:auto;
      white-space:nowrap;
      padding-left:20px;
      padding-right:0;
    }
  }
}

#breadcrumb {
  .container {
    border-bottom:1px solid $hr-border;

    @media (max-width: 767px){
      margin-left:$oeSmallColMargin;
      margin-right:$oeSmallColMargin;
    }
  }

  .breadcrumb {
    float:right;
    margin:0;
    padding:3px 10px 5px 0;
    background:none;

    @media (min-width: 768px){
      float:none;
    }

    a, a.active {
      color:$text-color;
      text-decoration:none;
    }
  }
}

/* main menu - sidebar */

body .pane-main-menu {
  border:none;
  margin-bottom:0;
  padding-left:0;
  padding-right:0;

  .pane-title {
    padding-left:$oeSmallColPadding;
    padding-right:$oeSmallColPadding;

    @media only screen and (min-width : 768px) {
      padding-left:0;
      padding-right:0;
      margin-left:0;
      margin-right:0;
    }
  }

  h5 {
    margin:15px 0;
    padding:0 30px;
  }

  .menu-block-wrapper {
    background:#fff;
  }

  .menu-block-wrapper:before, .menu-block-wrapper:after {
      content: "";
      display: table;
      line-height: 0;
  }
  .menu-block-wrapper:after {
      clear: both;
  }


  ul.menu {
    border-top:1px solid $hr-border2;
    border-bottom:1px solid $hr-border2;
    margin:1px 0;
    padding:15px 30px 15px 0;

    ul {
      border:none;
      margin:0;
      padding:5px 0 0 0;
    }

    li {
      padding:0 0 5px 30px;
      margin-bottom:0;

      a {
        margin:0;
        padding:0;
      }

      a:hover,
      a:focus {
        text-decoration:underline;
        background:none;
      }
    }

    li.expanded {
      padding-bottom:0;
    }

    li.active-trail,
    li.active-trail li {
      display:block;
    }

    > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
        background:none;
        color:$text-color;
        @include text-shadow(none);
        text-decoration:underline;
    }
  }
}

//if the page menu is at the top of the sidebar then give it some extra space and hide the header
body .radix-layouts-sidebar .pane-main-menu {
   margin-bottom:$oeVerticalMargin;

   h2 {
    display:none;
   }
}

//some layouts have the sidebar not at the top of the page. remove the menu -ve margin for these
body .brenham-flipped .radix-layouts-sidebar .pane-main-menu {
  margin-top:0;
}

/* mini-nav */

.mini-nav {
  margin-top:-8px;
  padding-bottom:$oeVerticalPadding;
  border-bottom:1px solid $hr-border;
  font-size:20px;
  font-weight:700;
  font-style:italic;

  span {
    text-decoration:underline;
  }
}

.panels-ipe-editing {
  .mini-nav,
  .pane-main-menu {
    margin-top:0 !important;
  }
}


// User nav
body #header nav #user-menu {
  width: 100%;
  border-top: 1px solid #fff;
  float:none;

  @media only screen and (min-width : 992px) {
    width: auto;
    float: right;
  }

  .nav {
    margin: 0;

    > li {
      margin-bottom: 0;

      @media only screen and (min-width : 992px) {
        float:left;
      }

      > a {
        white-space: nowrap;

        @media only screen and (min-width : 992px) {
          margin: 0;
          padding-right: 0;
        }

      }

    }

  }

}
