// Node
// Styles for Photos and Videos
// --------------------------------------------------

/* thumbnail */
/* reset bootstrap style */

.thumbnail {
  border:none;
  border-radius:0;
  box-shadow:none;
  padding:0;
  transition:none;
}

/* images entered through the wysiwyg */
@media only screen and (max-width : 991px) {
  img.media-element {
    float:none !important;
    display:block !important;
    margin:0 0 15px 0 !important;
  }
}

/* featured images */

.field-body-no-image {
  clear:left;
}

.field-featured-image {
  clear:left;
  padding-left:$oeSmallColMargin*2;
  padding-right:$oeSmallColMargin*2;

  @media only screen and (min-width : 371px) {
    padding-left:$oeSmallColMargin*2;
    padding-right:$oeSmallColMargin*2;
  }

  @media only screen and (min-width : 768px) {
    padding-left:0;
    padding-right:0;
  }
}

.field-featured-image img.thumbnail,
.field-featured-image img.medium,
.field-featured-image img.portrait {
  margin-bottom:$oeVerticalMargin;

  @media only screen and (min-width : 992px) {
    float:left;
    margin-right:30px;
  }
}

.field-featured-image img.large {
  margin-bottom:$oeVerticalMargin;
}

/* media library layouts */

ul.es-media-library li:last-child {
  margin-bottom:$oeVerticalMargin;
}

@media only screen and (max-width : 480px) {
  @include oe-media-library-li(48.71795%, 2.5641%, 2.5641%);
  //ensures styling is correct for rows of 2
  @include oe-media-library-grid-control(2);
}

@media only screen and (min-width : 481px) {
  @include oe-media-library-li(32.467532467532465%, 1.2987012987012987%, 1.2987012987012987%);
  //ensures styling is correct for rows of 3
  @include oe-media-library-grid-control(3);
}

@media only screen and (min-width : 1200px) {
  //if top level col-md- 12 (e.g. not a col-md-12 inside a col-md-9)
  div.container > div.row > div.col-md-12,
  div.container div.col-md-12{
    @include oe-media-library-li(23%, 1%, 1%);
    //ensures styling is correct for rows of 4
    @include oe-media-library-grid-control(4);
  }
}

ul.es-media-library .pager {
  margin-top:$oeVerticalMargin - 10;
}

/* sneaky bit of audio */

.media-soundcloud-audio,
.media-soundcloud-audio iframe {
  width:100%;
  height:231px;
}
