// Styles for Registration and Login
// --------------------------------------------------

// Login, registration, user-edit, password

body.page-user-register,
body.page-user-login,
body.page-user-edit,
body.page-user-password {

	// Titles
	.page-header .title {
		padding-bottom: 24px;
	}

	// Forms
	form {

		.form-item input[type="text"],
		.form-item input[type="password"],
		.form-item input[type="email"] {
		  padding-left:2%;
		  padding-right:2%;
		  width: 100%;

		}

		.form-item .description {
			margin-bottom: 20px;
		}

		.form-actions .btn {
			margin-top: 8px;
		}

		.form-item .form-radios {
			margin-top: 15px;
			margin-bottom: 20px;
		}

	}

}

// Tabbed navigation
.nav-tabs {
	margin-left: 20px;
	margin-right: 20px;
	padding: 0;
	border-bottom: 2px solid $gray-dark;

	@media only screen and (min-width : 768px) {
		margin-left: 0;
		margin-right: 0;
	}

  > li:first-child a {
    padding-left: 12px;
	}

  > li a {
    color: $text-color;
  	text-align: center;
    text-decoration: none;
    background-color: $gray;
    border:none;
    border-radius: $border-radius-large $border-radius-large 0 0;


    &:hover, &:focus {
    text-decoration: underline;
    }

  }

  > li.active > a, > li.active > a:hover, > li.active > a:focus {
    color: #fff;
    background-color: $gray-dark;
    border: none;
  }

}

// Profile view
body .profile {

	h3.field-label {
		padding-bottom: 6px;
	}

	p {
		margin-bottom: 24px;
	}

}

// Profile edit
body.page-user-edit {

	form#user-profile-form {
		padding: 0 20px;

		@media only screen and (min-width : 768px) {
			padding: 0;
		}

	}

}


// Password reset page/form
body.page-user-password {

	form#user-pass {
		padding: 0 20px;

		@media only screen and (min-width : 768px) {
			padding: 0;
		}

		p {
			padding: 0;
			margin-bottom: 18px;

			.placeholder {
				font-weight: 700;
			}

		}

	}

}


