//
// Helper
// CSS Helpers
// --------------------------------------------------

.shift-up {
  margin-top:-25px;
}

.panels-ipe-editing .shift-up {
  margin-top:0;
}

/* to fix Safari scrollbar issue at narrow browser widths */
.element-invisible {
  width:1px;
}
