body.oe-story-full .container-fluid {
  padding:0;
}

/* For fixed navbar after scrolling */

#story-nav.affix {
  position: fixed;
  z-index: 10000;
  top: 0;
  width: 100%
}

/* hide the layout button for some content types */
body.node-type-oe-story a.panels-ipe-change-layout {
  display:none;
}


/* OE panels */

/* re-apply the style icon on panel regions (removed in ethical admin) */
/* not done for now as ux needs improving first. i.e. need to hide other available styles for editor ease of use.
.oe-story-full .striped-stripe .panels-ipe-placeholder li.style {
  display: inline-block;
}
*/

@media only screen and (min-width : 768px) {

  /* full width featured with image on the right */
  #oe-story-full .oe-featured .oe-basic .sidebar {
    float: right;
    margin-left: 2.5641%;
    margin-right: 0;
    width: 31.6239%;
  }
  #oe-story-full .oe-featured .oe-basic .contentmain {
    float: left;
    margin-right: 0;
    width: 65.812%;
  }
}





/* Story page styling */

/* Remove padding from the wrapper for stories */

.oe-story-full #main-wrapper {
  padding-bottom: 0;
}

/* Story stripe header */

.striped-header #mini-panel-oe_story_header {
  padding: 240px 0 220px;
  text-align: center;
  color: white;
  background-color: #d9d9d9;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.striped-header .panel-pane {
  margin-bottom: 0;
}

.striped-header .container {
  max-width: 860px;
}

.striped-header h1, .striped-header  p {
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.striped-header h1 {
  margin-bottom: 24px;
  padding-bottom: 0;
  font-size: 44px;
}

.striped-header p {
  margin-bottom: 0;
  font-size: 20px;
}


/* AB Story navigation styling */

#story-nav {
  width: 100%;
  z-index: 5000;
  color: white;
  text-align: center;
  background-color: #c6c6c6;
}

#story-nav ul.nav {
  margin: 0 auto;
  padding: 10px 0;
}

#story-nav ul.nav > li {
  padding: 5px;
  margin: 0;
}

#story-nav ul.nav > li,
#story-nav ul.nav > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

#story-nav ul.nav > li a {
  padding: 14px 20px 10px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #8c8c8c;
  white-space: nowrap;
}

#story-nav ul.nav > li a:hover,
#story-nav ul.nav > li a:focus {
  color: #e8e8e8;
}

#story-nav ul.nav > li a.active {
  color: white;
}


/* Stripe headings */

.stripe-heading {
  position: relative;
  padding: 0;
  margin-bottom: 44px;
  font-size: 36px;
  text-align: center;
}


/* Stripe into (enlarged text) */

.pane-bundle-oe-stand-out-text {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}


/* Stripe custom panel content */

/* Balance headings (& double ups) */
.stripe-content h2,
.stripe-content h3,
.stripe-promo h2,
.stripe-promo h3 {
  font-size: 28px;
  padding: 0;
  margin-bottom: 24px;
}

.stripe-content p, .stripe-promo p {
  margin-bottom: 24px;
}


/* Promo sections */

.stripe-promo {
  margin-bottom: 40px;
}

.stripe-promo img {
  margin-bottom:10px;
}

/* Quotation sections */

.stripe-quotation {
  text-align: center;
  margin-bottom: 40px;
}

.stripe-quotation blockquote {
  padding: 0;
  border-left: 0;
}

.stripe-quotation blockquote > p {
  font-style: italic;
  margin-bottom: 24px;
  quotes: "\201C""\201D""\2018""\2019";
}

.stripe-quotation blockquote > p:before {
  content: open-quote;
}

.stripe-quotation blockquote > p:after {
  content: close-quote;
}

.stripe-quotation .quote-author img {
  margin-bottom: 24px;
}

.stripe-quotation .quote-author p {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Stripe footer */

.striped-footer {
  margin: 0;
  margin-top: 60px;
  padding: 0;
}



/* Story Stripe specifics */

#oe-story-full .stripe-a,
#oe-story-full .stripe-b {
  padding: 60px 0 40px;
}

/* Story stripe a (Defaults) */

#oe-story-full .stripe-a{
}

/* Story stripe b (Alternatives) */

#oe-story-full .stripe-b{
  background-color: #a7a7a7;
}




/* Story Media Queries */

@media only screen and (min-width: 980px) {

  /* AB Story navigation styling */

  #story-nav ul.nav {
    padding: 10px;
  }

  #story-nav ul.nav > li {
    padding: 10px;
  }

  #story-nav ul.nav > li a {
    font-size: 20px;
  }


  /* Stripe into (enlarged text) */

  .pane-bundle-oe-stand-out-text {
    font-size: 22px;
  }


  /* Story Stripe specifics */

  #oe-story-full .stripe-a,
  #oe-story-full .stripe-b {
    padding: 100px 0 80px;
  }

}


@media only screen and (min-width: 1200px) {

  #story-nav ul.nav > li a {
    font-size: 24px;
  }

}
